<h2>Describe: <%= erb :inputlinks, :locals => { :describe => true } %></h2>

<br/>

<p>Generate PREMIS for an uploaded file.</p>

<%= erb :inputforms,
        :locals => { :action => '/describe/results',
                     :submit_text => 'Describe',
                     :describe => true } %>
