<br/>
<p>Object Identifier (required):</p><br/>
<label for="id_type" class="describe">Type:</label>
<input name="id_type" id="id_type" type="text" size="30"/>
<br/><br/>
<label for="id_value" class="describe">Value:</label>
<input name="id_value" id="id_value" type="text" size="30"/>
<br/>
<br/>
<p>Linking Intellectual Entity Identifier (optional):</p><br/>
<label for="ieid_type" class="describe">Type:</label>
<input name="ieid_type" id="ieid_type" type="text" size="30"/>
<br/><br/>
<label for="ieid_value"class="describe">Value:</label>
<input name="ieid_value" id="ieid_value" type="text" size="30"/>
<br/>
