<h2>PREMIS in METS Toolbox</h2>

<br/>

<p>
  The PREMIS in METS Toolbox is a set of open-source tools developed to support 
  the implementation of PREMIS in the METS container format. The tools were 
  created by Florida Center for Library Automation for the Library of Congress 
  in 2009.
</p>

<br/>

<p><a href="/validate">Validate</a> PREMIS in METS document. Given a PREMIS or PREMIS in METS
document via an input method, return a list of errors or a confirmation message if the document
conforms. The document is validated against any applicable schema and if applicable the PREMIS
in METS best practice.</p>

<br/>

<p><a href="/convert">Convert</a> between PREMIS &amp; PREMIS in METS. Given a PREMIS document
generate a METS document containing the PREMIS elements in multiple or single METS metadata
sections. Given a METS document containing PREMIS elements in metadata sections generate a
stand-alone PREMIS document</p>

<br/>

<p><a href="#">Describe</a> a file with PREMIS. This feature is not implemented yet</p>

<br/>

<h2>Some Filler</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
  laborum.
</p>