<h2>Convert by URI</h2>
<%= erb :'forms/uri', :layout => false %>

<br/>
<hr/>

<h2>Convert by File Upload</h2>
<%= erb :'forms/file_upload', :layout => false %>

<br/>
<hr/>

<h2>Convert by Direct Input</h2>
<%= erb :'forms/direct_input', :layout => false %>

<br/>
