<h2>Local Resources:</h2>
<dl class="resources">
  <dt><a href="/resources/pim.stron">pim.stron:</a></dt>
  <dd>schematron schema used to test conformance against PREMIS in METS best practice.</dd>

  <dt><a href="/resources/premis2pim.xsl">premis2pim.xsl:</a> </dt>
  <dd>stylesheet transformation used to convert from PREMIS to PREMIS in METS.</dd>
  
  <dt><a href="/resources/pim2premis.xsl">pim2premis.xsl:</a> </dt>
  <dd>stylesheet transformation used to convert from PREMIS in METS to PREMIS.</dd>
</dl>

<h2>External Resources:</h2>
<ul class="resources">
  <li><a href="http://loc.gov">Library of Congress</a></li>
  <li><a href="http://www.fcla.edu">FCLA</a></li>
  <li><a href="http://www.loc.gov/standards/premis/index.html">PREMIS</a></li>
  <li><a href="http://www.loc.gov/standards/mets/">METS</a></li>
</ul>