<h2>Local Resources:</h2>
<dl class="resources">
  <dt><a href="/schema/pim.stron">pim.stron</a></dt>
  <dd>schematron schema used to test conformance against PREMIS in METS best practice.</dd>

  <dt><a href="/xsl/pim_buckets.xsl">pim_buckets.xsl</a></dt>
  <dd>stylesheet used to convert PREMIS to PREMIS in METS using multiple METS metadata sections.</dd>

  <dt><a href="/xsl/pim_container.xsl">pim_container.xsl</a></dt>
  <dd>stylesheet used to convert PREMIS to PREMIS in METS using a single METS digiprovMD section.</dd>
  
  <dt><a href="/xsl/pim_to_premis.xsl">pim_to_premis.xsl</a></dt>
  <dd>stylesheet used to convert PREMIS in METS to PREMIS.</dd>
</dl>
<br/>
<br/>
<h2>External Resources &amp; Technologies:</h2>
<ul class="resources">
  <li><a href="http://loc.gov">Library of Congress</a></li>
  <li><a href="http://www.fcla.edu">FCLA</a></li>
  <li><a href="http://www.loc.gov/standards/premis/index.html">PREMIS</a></li>
  <li><a href="http://www.loc.gov/standards/mets/">METS</a></li>
  <li><a href="http://www.schematron.com">Schematron</a></li>
  <li><a href="http://www.w3.org/TR/xslt">XSL Transformations</a></li>
</ul>