<a href="http://loc.gov">Library of Congress</a>
<br/>
<a href="http://www.fcla.edu">FCLA</a>
<br/>
<a href="http://www.loc.gov/standards/premis/index.html">PREMIS</a>
<br/>
<a href="http://www.loc.gov/standards/mets/">METS</a>



