<h1>Validation Results</h1>

<% if @formedness_error %>
<h2>document is ill-formed</h2>
<code><%= @formedness_error %></code>
<% else %>
<h2>document is well-formed</h2>
<br/>
<hr/>

<% unless @schema_errors.empty? %>
<br/>
<%= erb(:schema_validity, :layout => false) %>
<hr/>
<% end %>

<% unless @pim_errors.nil? %>
<br/>
<%= erb(:pim_validity, :layout => false) %>
<hr/>
<% end %>

<% end %>


