<h1>Validation Results</h1>


<h2>Formedness</h2>
<% if @results.empty? %>
<p>document is well-formed</p>
<% else %>
<p>document is ill-formed</p>
<table>

  <tr>
    <th>line</th>
    <th>message</th>
  </tr>

  <% @results.each do |e| %>

  <tr>
    <td><%= e[:line] %></td>
    <td><%= e[:message] %></td>
  </tr>

  <% end %>

</table>
<% end %>
