<h1>Validation Results</h1>

<% if @results.empty? %>
<p>document is valid</p>
<% else %>
<p>document has the following issues:</p>
<table>

  <tr>
    <th>type</th>
    <th>name</th>
    <th>line</th>
    <th>message</th>
  </tr>

  <% @results.each do |e| %>

  <tr>
    <td><%= e[:type] %></td>
    <td><%= e[:name] %></td>
    <td><%= e[:line] %></td>
    <td><%= e[:message] %></td>
  </tr>

  <% end %>

</table>
<% end %>
