.ui-tabs .ui-tabs-hide {
	display: none;
}

.fg-button {
	outline: 0;
	margin:1em; 4px 0 0;
	padding: .4em 1em;
	text-decoration:none !important;
	cursor:pointer;
	position: relative;
	text-align: center;
	zoom: 1;	
}

a.fg-button { float:left; }

.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

img.logo { height:30px;}

body {
    font-size:75%;
    color:#222;
    background:#666;
    //background-image: url("/images/wip.png");
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

.container {
	width:950px;
	margin:0 auto;
	background:#fff;
	padding:1em;
}

#uri {width:85%;}
#uploadfile {width:85%;}
#directinput {width:98.5%;}

#flash {
	color:#ff0000;
	font-size:1.5em;
	background-color:#202020;
	padding:1ex;
}

.disabled {
/*	color:gray;*/
}