.ui-tabs .ui-tabs-hide {
	display: none;
}

.fg-button {
	outline: 0;
	margin:1em; 4px 0 0;
	padding: .4em 1em;
	text-decoration:none !important;
	cursor:pointer;
	position: relative;
	text-align: center;
	zoom: 1;	
}

a.fg-button { float:left; }

.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
