<% @title = "Index" %>
<div id="tabs">

  <ul>
    <li><a href="#tab-1"><span>URI</span></a></li>
    <li><a href="#tab-2"><span>File Upload</span></a></li>
    <li><a href="#tab-3"><span>Direct Input</span></a></li>
  </ul>

  <div id="tab-1">
    <h2>Validate by URI</h2>
    <form method="get" action="validate">
      <label for="document">Address:</label>
      <input name="document" id="uri" type="text" size="45"/>

      <br/>
			<%= erb(:moreoptions, :layout => false) %>
      <hr/>

			<div class="buttonbox">
      <button class="fg-button ui-state-default ui-corner-all" type="submit">
				validate
			</button>
			</div>
    </form>
  </div>

  <div id="tab-2">
    <h2>Validate by File Upload</h2>
    <form method="post" action="validate">
      <label for="document">File:</label>
      <input name="document" id="uploadfile" size="30" type="file"/>
      <br/>
			<%= erb(:moreoptions, :layout => false) %>
      <hr/>
      <button class="fg-button ui-state-default ui-corner-all" type="submit">Validate!</button>
    </form>
  </div>

  <div id="tab-3">
    <h2>Validate by Direct Input</h2>
    <form method="post" action="validate">
      <label for="document">Enter PiM:</label>
			<br/>
      <textarea id="directinput" rows="12" cols="80" name="document" title="..."></textarea>
      <br/>
			<%= erb(:moreoptions, :layout => false) %>
      <hr/>
      <button class="fg-button ui-state-default ui-corner-all" type="submit">Validate!</button>
    </form>

  </div>

</div>

