<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <!-- <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" /> -->
    <!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

    <link type="text/css" href="css/ui-lightness/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
    <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.7.1.custom.min.js"></script>
		
    <script type="text/javascript" src="js/local.js"></script>
    <link rel="stylesheet" href="css/local.css" type="text/css" media="screen, projection"/>

    <title><%= @title || "App Title" %></title>
  </head>

  <body>

    <div class="container">

      <div>
        <h1>
					<img class = "logo" src="images/lc-logo-small.png"/>
					PiM Validation Service
				</h1>
      </div>

      <div>
        <%= yield %>
      </div>

      <div>
				<a href="http://loc.gov">Library of Congress</a>
        <a href="http://www.loc.gov/standards/premis/index.html">PREMIS</a>
        <a href="http://www.loc.gov/standards/mets/">METS</a>
      </div>

    </div>

  </body>

</html>
