<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/local.js"></script>
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"/>
    <link rel="stylesheet" href="css/local.css" type="text/css" media="screen, projection"/>
    <!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <title><%= @title || "App Title" %></title>
  </head>

  <body>
    <div class="container">
      <div class="span-24">
        <h1>PiM Validation Service</h1>
      </div>
      <div class="span-24">
        <%= yield %>
      </div>
      <div class="span-24">
        le pied
      </div>
    </div>
  </body>

</html>
