<div class="moreoptions">
	<a href="#" class="head">More Options ...</a>
	<div class="body">
		<hr/>
		<ul>
			<li>
				<input type="checkbox" name="opt1"/>
				<label for="opt1">Option 1</label>
			</li>
			<li>
				<input type="checkbox" name="opt2"/>
				<label for="opt2">Option 2</label>
			</li>
			<li>
				<input type="checkbox" name="opt3"/>
				<label for="opt3">Option 3</label>
			</li>
		</ul>
	</div>
</div>
