
<div class="moreoptions">
	<button class="head fg-button-icon-left fg-button ui-state-default ui-corner-all fg-button-toggleable" type="button">
		<div class="ui-icon ui-icon-plus"></div>options
	</button>
	
	<div class="body ui-widget-content">
		<ul>
			<li>
				<input type="checkbox" name="opt1"/>
				<label for="opt1">Option 1</label>
			</li>
			<li>
				<input type="checkbox" name="opt2"/>
				<label for="opt2">Option 2</label>
			</li>
			<li>
				<input type="checkbox" name="opt3"/>
				<label for="opt3">Option 3</label>
			</li>
		</ul>
	</div>
</div>
