<h2>Validate : <%= erb :inputlinks %></h2>

<br/>

<p>
  Takes a METS document containing PREMIS elements and validates it according
  to the PREMIS in METS Best Practice Guidelines.
</p>

<%= erb :inputforms,
        :locals => { :action => '/validate/results', :submit_text => 'Validate' } %>
