<div id="tabs">

  <ul>
    <li><a href="#tab-1"><span>URI</span></a></li>
    <li><a href="#tab-2"><span>File Upload</span></a></li>
    <li><a href="#tab-3"><span>Direct Input</span></a></li>
  </ul>

  <% options = { :action => '/validate/results', :submit_text => 'Validate' } %>
  <div id="tab-1">
    <h3>Validate by URI</h3>
    <%= input_form :uri, options %>
  </div>

  <div id="tab-2">
    <h3>Validate by File Upload</h3>
    <%= input_form :file_upload, options %>
  </div>

  <div id="tab-3">
    <h3>Validate by Direct Input</h3>
    <%= input_form :direct_input, options %>
  </div>

</div>

