<h1>Results</h1>

<!-- fatal errors (well formed-ness) -->
<% if @results[:fatals].empty? %>
<h2>document is well-formed</h2>
<% else %>
<h2>document is not well-formed</h2>
<ul>
  <% @results[:fatals].each do |fatal| %>
  <li>
    <code>
      <%= ERB::Util::h(fatal) %>
    </code>
  </li>
  <% end %>
</ul>
<% end %>

<!-- normal errors -->
<% if @results[:errors].nil? %>
<h2 class="disabled ui-state-disabled">validity (not performed)</h2>
<% elsif @results[:errors].empty? %>
<h2>document is valid</h2>

<% else %>
<h2>document is invalid</h2>
<ul>
  <% @results[:errors].each do |error| %>
  <li>
    <code>
      <%= ERB::Util::h(error) %>
    </code>
  </li>
  <% end %>
</ul>
<% end %>

<!-- deviations from best practice -->
<% if @results[:best_practice].nil? %>
<h2 class="disabled ui-state-disabled">PREMIS in METS best practice conformance (not performed)</h2>
<% elsif @results[:best_practice].empty? %>
<h2>document conforms to PREMIS in METS best practice</h2>
<% else %>
<h2>document does not conform to PREMIS in METS best practice</h2>
<ul>
  <% @results[:best_practice].each do |deviation| %>
  <li>
    <code>
      <%= ERB::Util::h(deviation) %>
    </code>
  </li>
  <% end %>
</ul>
<% end %>

