<h1>Results</h1>

<% if @results[:formedness] %>

<h2>document is ill-formed</h2>
<ul>
  <% @results[:formedness].each do |e| %>
  <li>
    <code>
      <%= ERB::Util::h("line %s, column %s: %s " % [e[:line], e[:column], e[:message]] ) %>
    </code>
  </li>
  <% end %>
</ul>

<% else %>

<h2>document is well-formed</h2>

<% if @results[:validity] %>
<h2>document is invalid</h2>

<ul>
  <% @results[:validity].each do |e| %>
  <li>
    <code>
      <%= ERB::Util::h("line %s, column %s: %s " % [e[:line], e[:column], e[:message]] ) %>
    </code>
  </li>
  <% end %>
</ul>

<% else %>
<h2>document is valid</h2>

<% if !@results[:conforms_to_bp].empty? %>
<h2>document violates PREMIS in METS best practice</h2>

<ul>
  <% @results[:conforms_to_bp].each do |e| %>
  <li>
    <code>
      <%= ERB::Util::h("line %s: %s " % [ e[:line], e[:message] ])%>
    </code>
  </li>
  <% end %>
</ul>

<% else %>
<h2>document conforms to PREMIS in METS best practice</h2>
<% end %>

<% end %>

<% end %>

