<form method="post" action="<%= action %>">

  <% if @convert %>
  <%= erb :'forms/conversion_options', :layout => false %>
  <% end %>

  <label for="document">Enter PiM<%= " or PREMIS" if @convert %>:</label>
  <br/>
  <textarea id="directinput" rows="12" cols="80" name="document" title="..."></textarea>

  <br/>
  <br/>

  <button class="fg-button ui-state-default ui-corner-all" type="submit">
    <%= submit_text %>
  </button>

  <br/>

</form>
