<form method="post" action="<%= action %>">

  <label for="document">Enter XML Document:</label>
  <br/>
  <textarea id="directinput" rows="12" cols="76" name="document"></textarea>

  <% if locals[:use_premis_container] %>
  <br/>
  <%= erb :'forms/premis_container_option', :layout => false, :locals => options %>
  <% end %>

  <br/>
  <br/>
  <input type="submit" value="<%= ERB::Util::h submit_text %>" />

  <br/>

</form>
