<%= erb :instructions, :layout=> false %>

<form method="post" action="<%= action %>">

  <label for="document">Enter XML Document:</label>
  <br/>
  <textarea id="directinput" rows="12" cols="80" name="document" title="..."></textarea>

  <% if locals[:use_premis_container] %>
  <input type="checkbox" name="use-premis-container">Use PREMIS container</input>
  <% end %>

  <br/>
  <br/>

  <button class="fg-button ui-state-default ui-corner-all" type="submit">
    <%= ERB::Util::h submit_text %>
  </button>

  <br/>

</form>
