<form method="post" action="validate">
  <label for="document">Enter PiM:</label>
  <br/>
  <textarea id="directinput" rows="12" cols="80" name="document" title="..."></textarea>
  <br/>

  <br/>
  <button class="fg-button ui-state-default ui-corner-all" type="submit">Validate!</button>
  <br/>
</form>
