<form method="post" action="<%= ERB::Util::h action %>" enctype="multipart/form-data">

  <label for="document">File:</label>
  <input name="document" id="uploadfile" size="30" type="file"/>

  <br/>

  <% if locals[:use_premis_container] %>
  <br/>
  <%= erb :'forms/premis_container_option', :layout => false, :locals => options %>
  <% end %>

  <br/>
  <br/>
  
  <input type="submit" value="<%= ERB::Util::h submit_text %>" />
  
</form>
