<form method="get" action="<%= ERB::Util::h action %>">

  <label for="document">Address:</label>
  <input name="document" id="uri" type="text" size="45"/>

  <br/>

  <% if locals[:use_premis_container] %>
  <br/>
  <%= erb :'forms/premis_container_option', :layout => false, :locals => options %>
  <% end %>

  <br/>
  <br/>

  <input type="submit" value="<%= ERB::Util::h submit_text %>" />

</form>
