<form method="get" action="validate">
  <label for="document">Address:</label>
  <input name="document" id="uri" type="text" size="45"/>
  <br/>
  <br/>
  <button class="fg-button ui-state-default ui-corner-all" type="submit">Validate!</button>
</form>
