<%= erb :instructions, :layout=> false %>

<form method="get" action="<%= ERB::Util::h action %>">

  <label for="document">Address:</label>
  <input name="document" id="uri" type="text" size="45"/>

  <br/>

  <% if locals[:use_premis_container] %>
  <input type="checkbox" name="use-premis-container">Use PREMIS container</input>
  <% end %>

  <br/>
  <br/>

  <button class="fg-button ui-state-default ui-corner-all" type="submit">
    <%= ERB::Util::h submit_text %>
  </button>

</form>
