<h2>Convert: 
  <span id="inputchoice"> &nbsp;
    <a href="#" id="choice-uri" class="active">uri</a> | 
    <a href="#" id="choice-file">file upload</a> | 
    <a href="#" id="choice-direct">direct input</a>
  </span>
</h2>

<br/>

<p>
  Takes a METS document containing PREMIS elements and validates it according 
  to the PREMIS in METS Best Practice Guidelines.
</p>

<% options = { :action => '/convert/results', :submit_text => 'Convert' } %>
<% options[:use_premis_container] = true %>

<div id="input-uri" class="form-container">
  <%= input_form :uri, options %>
</div>

<div id="input-file" class="form-container" style="display:none;">
  <%= input_form :file_upload, options %>
</div>

<div id="input-direct" class="form-container" style="display:none;">
  <%= input_form :direct_input, options %>
</div>
