<h2>Convert: <%= erb :inputlinks, :layout => false %></h2>

<br/>
  
<p><strong>Accepts either:</strong></p>
<ol class="spiel">
  <li>
    an XML document conforming to the PREMIS schema and creates a METS document with embedded
    PREMIS elements.
  </li>
  <li>
    an XML document conforming to the METS schema and creates a PREMIS document from any embedded
    PREMIS.
  </li>
</ol>

<%= erb :inputforms, 
        :layout => false, 
        :locals => { :action => '/convert/results', 
                     :submit_text => 'Convert',
                     :use_premis_container => true } %>