<div id="tabs">

  <ul>
    <li><a href="#tab-1"><span>URI</span></a></li>
    <li><a href="#tab-2"><span>File Upload</span></a></li>
    <li><a href="#tab-3"><span>Direct Input</span></a></li>
  </ul>

  <% options = { :action => '/convert/results', :submit_text => 'Convert' } %>
  <% options[:use_premis_container] = true %>
  <div id="tab-1">
    <h2>Convert by URI</h2>
    <%= input_form :uri, options %>
  </div>

  <div id="tab-2">
    <h2>Convert by File Upload</h2>
    <%= input_form :file_upload, options %>
  </div>

  <div id="tab-3">
    <h2>Convert by Direct Input</h2>
    <%= input_form :direct_input, options %>
  </div>

</div>

